In [1]:
import numpy as np
import pandas as pd
import sys
import re
import matplotlib.pyplot as plt
import seaborn as sns
import pprint
import nltk
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [2]:
ds_df = pd.read_csv('ds.csv')

In [3]:
print(ds_df.shape)
print(ds_df.columns)

(1000, 12)
Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue'],
      dtype='object')

#### Rename Columns

In [4]:
ds_df.columns = ds_df.columns.str.replace(' ', '_')
ds_df.columns

Index(['Job_Title', 'Salary_Estimate', 'Job_Description', 'Rating',
       'Company_Name', 'Location', 'Size', 'Founded', 'Type_of_ownership',
       'Industry', 'Sector', 'Revenue'],
      dtype='object')

In [5]:
ds_df.head()

,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Size,Founded,Type_of_ownership,Industry,Sector,Revenue
0,"Data Scientist, Machine Learning",$48K-$79K\n(Glassdoor est.),"Job Description\n\nAt Shipt, we are transformi...",3.4,Shipt\n3.4,"Birmingham, AL",1001 to 5000 Employees,2014,Subsidiary or Business Segment,Consumer Product Rental,Consumer Services,Unknown / Non-Applicable
1,Data Scientist,$78K-$133K\n(Glassdoor est.),"Publishers Clearing House (PCH), located in Je...",3.4,Publishers Clearing House\n3.4,"Jericho, NY",501 to 1000 Employees,1953,Company - Private,Advertising & Marketing,Business Services,$500 million to $1 billion (USD)
2,Data Engineer,$72K-$135K\n(Glassdoor est.),About The Role:\n\nARC is searching for a Data...,3.9,Airlines Reporting Corporation (ARC)\n3.9,"Arlington, VA",201 to 500 Employees,1984,Company - Private,Financial Transaction Processing,Finance,$100 to $500 million (USD)
3,Sr. Data Scientist,$71K-$118K\n(Glassdoor est.),Overview:\n\nMedifast is seeking a full-time S...,2.9,"Medifast, Inc.\n2.9","Baltimore, MD",501 to 1000 Employees,1980,Company - Public,"Health, Beauty, & Fitness",Consumer Services,$500 million to $1 billion (USD)
4,Data Scientist,-1,Job Description:\n\nOur Advanced Data Analytic...,3.0,"Metron, Inc.\n3.0","Reston, VA",51 to 200 Employees,-1,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,$25 to $50 million (USD)

#### Cleanup Salary_Estimate data
- Drop the rows that do not have salary estimate
- Remove additional text attached to salary value

In [6]:
# Drop the rows that do not have salary estimate
ds_df = ds_df[ds_df['Salary_Estimate'] != '-1']
print(ds_df.shape)

(737, 12)

In [7]:
ds_df['Salary_Estimate'] = ds_df['Salary_Estimate'].str.replace('Employer Provided Salary:\n', '')
#ds_df

In [8]:
# remove additional text
ds_df['Salary_Estimate'] = ds_df['Salary_Estimate'].apply(lambda x: x.split('\n')[0])

In [9]:
ds_df[ds_df['Salary_Estimate'].str.contains("Per Hour")]

,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Size,Founded,Type_of_ownership,Industry,Sector,Revenue
591,Research Lab Specialist or Staff Scientist,$17-$36 Per Hour,With resources to help you succeed and develop...,4.7,St. Jude Children's Research Hospital\n4.7,"Raleigh, NC",1001 to 5000 Employees,1962,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD)

In [10]:
ds_df['hourly'] = ds_df['Salary_Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [11]:
ds_df['Salary_Estimate'] = ds_df['Salary_Estimate'].str.replace('Per Hour', '').str.replace('K', "").str.replace('$', '')

In [12]:
ds_df['Salary_Estimate'] = ds_df['Salary_Estimate'].str.replace('K', "").str.replace('$', '')

In [13]:
ds_df['min_salary'] = ds_df['Salary_Estimate'].apply(lambda x: int(x.split('-')[0]))
ds_df['max_salary'] = ds_df['Salary_Estimate'].apply(lambda x: int(x.split('-')[1]))

In [14]:
# Hourly pay to annual conversion
ds_df['min_salary'] = ds_df.apply(lambda x: x.min_salary*2 if x.hourly ==1 else x.min_salary, axis =1)
ds_df['max_salary'] = ds_df.apply(lambda x: x.max_salary*2 if x.hourly ==1 else x.max_salary, axis =1)

In [15]:
ds_df['avg_salary'] = (ds_df.min_salary + ds_df.max_salary)/2

In [16]:
ds_df['Company_Name'] = ds_df['Company_Name'].apply(lambda x: x.split('\n')[0])

In [17]:
ds_df['City'] = ds_df['Location'].apply(lambda x: x.split(',')[0])
ds_df['State'] = ds_df['Location'].apply(lambda x: x.split(',')[1])

In [18]:
ds_df['Years_Old'] = ds_df.Founded.apply(lambda x: x if x < 0 else 2020 - x)

In [19]:
def titles(title):
    if 'scientist' in title.lower():
        return 'Data Scientist'
    elif 'data engineer' in title.lower():
        return 'Data Engineer'
    elif 'analyst' in title.lower():
        return 'Data Analyst'
    elif 'machine learning' in title.lower():
        return 'ML Engineer'
    elif 'manager' in title.lower():
        return 'Manager'
    elif 'director' in title.lower():
        return 'Director'
    elif 'consultant' in title.lower():
        return 'Consultant'
    else:
        return 'na'

pos_lead=re.compile(r'lead|principal|iii|iv',re.I)
pos_sr=re.compile(r'senior|sr.|sr|ii',re.I)
pos_jr=re.compile(r'junior|jr|jr.|entry|i',re.I)
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr.' in title.lower() or 'ii' in title.lower():
            return 'Senior'
    elif 'lead' in title.lower() or 'principal' in title.lower() or 'iii' in title.lower() or \
            'iv' in title.lower() or 'director' in title.lower():
            return 'Lead'
    elif 'jr' in title.lower() or 'jr.' in title.lower() or 'junior' in title.lower():
        return 'Junior'
    else:
        return 'regular'

In [20]:
ds_df['job_title_corr'] = ds_df['Job_Title'].apply(titles)
ds_df.head()

,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Size,Founded,Type_of_ownership,Industry,Sector,Revenue,hourly,min_salary,max_salary,avg_salary,City,State,Years_Old,job_title_corr
0,"Data Scientist, Machine Learning",48-79,"Job Description\n\nAt Shipt, we are transformi...",3.4,Shipt,"Birmingham, AL",1001 to 5000 Employees,2014,Subsidiary or Business Segment,Consumer Product Rental,Consumer Services,Unknown / Non-Applicable,0,48,79,63.5,Birmingham,AL,6,Data Scientist
1,Data Scientist,78-133,"Publishers Clearing House (PCH), located in Je...",3.4,Publishers Clearing House,"Jericho, NY",501 to 1000 Employees,1953,Company - Private,Advertising & Marketing,Business Services,$500 million to $1 billion (USD),0,78,133,105.5,Jericho,NY,67,Data Scientist
2,Data Engineer,72-135,About The Role:\n\nARC is searching for a Data...,3.9,Airlines Reporting Corporation (ARC),"Arlington, VA",201 to 500 Employees,1984,Company - Private,Financial Transaction Processing,Finance,$100 to $500 million (USD),0,72,135,103.5,Arlington,VA,36,Data Engineer
3,Sr. Data Scientist,71-118,Overview:\n\nMedifast is seeking a full-time S...,2.9,"Medifast, Inc.","Baltimore, MD",501 to 1000 Employees,1980,Company - Public,"Health, Beauty, & Fitness",Consumer Services,$500 million to $1 billion (USD),0,71,118,94.5,Baltimore,MD,40,Data Scientist
5,Data Analyst,35-70,Data Specialist\n\nJob Summary\n\nWe are on th...,4.9,Marxent,"Miamisburg, OH",51 to 200 Employees,2011,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,0,35,70,52.5,Miamisburg,OH,9,Data Analyst

In [21]:
ds_df['job_level'] = ds_df['Job_Title'].apply(seniority)
ds_df['job_level'].value_counts()

regular    618
Senior      79
Lead        38
Junior       2
Name: job_level, dtype: int64

In [22]:
# combine the job desciption for all the jobs into one string
job_des_str = ' '.join([x for x in ds_df['Job_Description']])
# word_tokenize splits all the words
tokens = nltk.word_tokenize(job_des_str)
stopwords = nltk.corpus.stopwords.words('english')

filtered_words_1 = [w.lower() for w in tokens if not w in stopwords]
filtered_words_2 = [w for w in filtered_words_1 if re.match(r'\w',w)]
fdist = FreqDist(filtered_words_2)
tops=fdist.most_common(100)
pprint.pprint(tops)

[('data', 7740),
 ('experience', 3750),
 ('work', 1923),
 ('business', 1897),
 ('learning', 1584),
 ('science', 1523),
 ('team', 1517),
 ('we', 1465),
 ('skills', 1404),
 ('analysis', 1264),
 ('analytics', 1229),
 ('machine', 1201),
 ('the', 1189),
 ('ability', 1116),
 ('years', 1005),
 ('development', 969),
 ('models', 892),
 ('tools', 874),
 ('solutions', 832),
 ('including', 829),
 ('new', 819),
 ('working', 805),
 ('information', 801),
 ('research', 797),
 ('required', 792),
 ('company', 791),
 ('develop', 789),
 ('technical', 786),
 ('support', 753),
 ('using', 744),
 ('knowledge', 742),
 ('computer', 735),
 ('strong', 729),
 ('engineering', 725),
 ('related', 722),
 ('you', 711),
 ('job', 706),
 ('degree', 700),
 ('design', 695),
 ('python', 645),
 ('systems', 642),
 ('statistical', 639),
 ('position', 630),
 ('opportunity', 626),
 ('management', 623),
 ('scientist', 620),
 ('environment', 619),
 ('modeling', 617),
 ('statistics', 600),
 ('advanced', 599),
 ('technology', 589),
 ('status', 573),
 ('complex', 570),
 ('provide', 570),
 ('product', 569),
 ('problems', 565),
 ('techniques', 564),
 ('requirements', 559),
 ('software', 558),
 ('teams', 552),
 ('sql', 546),
 ('employment', 537),
 ('preferred', 536),
 ('field', 526),
 ('us', 526),
 ('analytical', 517),
 ('qualifications', 516),
 ('insights', 508),
 ('help', 506),
 ('etc', 496),
 ('our', 482),
 ('use', 482),
 ('this', 479),
 ('technologies', 478),
 ('must', 476),
 ('equal', 466),
 ('role', 459),
 ('build', 458),
 ('projects', 449),
 ('products', 437),
 ('r', 436),
 ('time', 432),
 ('customers', 432),
 ('employees', 432),
 ('responsibilities', 431),
 ('national', 424),
 ('people', 424),
 ('performance', 423),
 ('algorithms', 421),
 ('communication', 421),
 ('across', 416),
 ('services', 412),
 ('intelligence', 404),
 ('health', 398),
 ('building', 390),
 ('one', 388),
 ('opportunities', 388),
 ('employer', 386),
 ('make', 386),
 ('and/or', 384)]

In [24]:
pat_python_r = re.compile(r'python|r',re.I)
pat_sql_nosql = re.compile(r'sql|nosql',re.I)
pat_java = re.compile(r'java',re.I)
pat_javascript = re.compile(r'javascript',re.I)
pat_tab_bi = re.compile(r'tableau|bi|powerbi|power',re.I)
pat_hadoop = re.compile(r'hadoop|hive|spark',re.I)
pat_sas = re.compile(r'sas',re.I)
pat_visualization = re.compile(r'visualization|visualizations',re.I)

In [27]:
def job_skill(row):
    if re.search(pat_python_r,row['Job_Description']):
        return 'Python/R'
    if re.search(pat_tab_bi,row['Job_Description']):
        return 'PowerBi/Tableau'
    if re.search(pat_visualization,row['Job_Description']):
        return 'Visualization'
    if re.search(pat_java,row['Job_Description']):
        return 'Java'
    if re.search(pat_javascript,row['Job_Description']):
        return 'JavaScript'
    if re.search(pat_sql_nosql,row['Job_Description']):
        return 'SQL/NoSQL'
    if re.search(pat_hadoop,row['Job_Description']):
        return 'Hadoop/Hive/Spark'
    if re.search(pat_sas,row['Job_Description']):
        return 'SAS'
    return None
    
ds_df['Job_Skill']=ds_df.apply(job_skill,axis=1)
ds_df['Job_Skill'].value_counts()

Python/R    737
Name: Job_Skill, dtype: int64

In [ ]:
    if re.search(pat_r,row['fdist']):
        return 'R'
    if re.search(pat_sql,row['fdist']):
        return 'SQL'
    if re.search(pat_nosql,row['fdist']):
        return 'NoSQL' 
    if re.search(pat_java,row['fdist']):
        return 'Java' 
    
ds_df['job_skills']=ds_df.apply(job_skill,axis=1)
ds_df.head()

In [ ]:
    if re.search(pat_javascript,row['Job_Description']):
        return 'JavaScript' 
    if re.search(pat_tableau,row['Job_Description']):
        return 'Tableau' 
    if re.search(pat_bi,row['Job_Description']):
        return 'PowerBi' 
    if re.search(pat_sas,row['Job_Description']):
        return 'SAS' 
    if re.search(pat_visualization,row['Job_Description']):
        return 'Visualization' 
    if re.search(pat_hadoop,row['Job_Description']):
        return 'Hadoop/Hive/Spark' 
    return None
    
ds_df['job_skills']=ds_df.apply(job_skill,axis=1)
ds_df.head()

In [ ]:
ds_df.shape

In [ ]:
pd.pivot_table(ds_df, index = 'job_title_corr', values = 'avg_salary')

In [ ]:
ds_df['job_skills'].value_counts()

In [ ]:
pd.set_option('display.max_rows', 1000)

In [ ]:
ds_df

In [ ]:
pat_python

In [ ]:
ds_df['RR'] = ds_df['Job_Description'].apply(lambda x: 1 if ' r,' in x.lower() or ' r ' in x.lower() or ',r ' in x.lower() or ' r' in x.lower() else 0)
ds_df['RR'].value_counts()

In [ ]:
# combine all the job titles into a string
job_title_str=' '.join([x for x in ds_df['Job_Title']])
job_title_str = job_title_str.lower()
tokens = nltk.word_tokenize(job_title_str)
tokens=[x.lower() for x in tokens]
tokens
# from nltk.probability import FreqDist
fdist = FreqDist(tokens)
tops=fdist.most_common(100)

# drop single word or symbol
delarr=[]
for key in fdist:
    if len(key)<2:
        delarr.append(key)
for key in delarr:
    del fdist[key]
    
tops=fdist.most_common(100)
pprint.pprint(tops)
# re.I ==> ignore case
pos_lead=re.compile(r'lead|principal|iii|iv',re.I)
pos_sr=re.compile(r'senior|sr.|sr|ii',re.I)
pos_jr=re.compile(r'junior|jr|jr.|entry|i',re.I)
def job_title(row):
    if re.match(pos_lead,row['Job_Title']):
        return 'Lead'
    elif re.match(pos_sr,row['Job_Title']):
        return 'Senior'
    elif re.match(pos_jr,row['Job_Title']):
        return 'Junior'
    else:
        return 'regular'
    
ds_df['Job_Level']=ds_df.apply(job_title,axis=1)
ds_df.head()