In [1]:
import numpy as np
import pandas as pd
import sys
import re
import pprint
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string
from sklearn.feature_extraction import text

In [2]:
ds_df = pd.read_csv('ds3k.csv')

In [3]:
print(ds_df.shape)
print(ds_df.columns)

(3000, 12)
Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue'],
      dtype='object')

#### Rename Columns

In [4]:
ds_df.columns = ds_df.columns.str.replace(' ', '_')
ds_df.columns

Index(['Job_Title', 'Salary_Estimate', 'Job_Description', 'Rating',
       'Company_Name', 'Location', 'Size', 'Founded', 'Type_of_ownership',
       'Industry', 'Sector', 'Revenue'],
      dtype='object')

In [5]:
ds_df.head()

,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Size,Founded,Type_of_ownership,Industry,Sector,Revenue
0,"Senior Data Scientist (San Francisco, CA)",$108K-$170K\n(Glassdoor est.),Earnest empowers people with the financial cap...,3.8,Earnest\n3.8,"San Francisco, CA",51 to 200 Employees,2013,Subsidiary or Business Segment,Lending,Finance,Unknown / Non-Applicable
1,Senior Machine Learning Data Scientist - Telec...,$80K-$129K\n(Glassdoor est.),Great outcomes are the result of strong purpos...,3.4,Unitedhealth Group\n3.4,"Eden Prairie, MN",10000+ Employees,1977,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD)
2,Member Data Analyst,$43K-$77K\n(Glassdoor est.),"Blue Federal Credit Union employees work hard,...",4.1,Blue Federal Credit Union\n4.1,"Cheyenne, WY",201 to 500 Employees,-1,Other Organization,Banks & Credit Unions,Finance,Unknown / Non-Applicable
3,"Environmental - Geologist, Scientist or Engine...",-1,"Antea USA, Inc. (Antea®Group) is seeking motiv...",4.0,Antea Group\n4.0,United States,201 to 500 Employees,1986,Company - Private,Architectural & Engineering Services,Business Services,$50 to $100 million (USD)
4,Sr Data-Applied Scientist-PCCI,$12K-$112K\n(Glassdoor est.),"Looking for your next opportunity? If so, choo...",4.4,Parkland Center for Clinical Innovation\n4.4,"Dallas, TX",1 to 50 Employees,2012,Nonprofit Organization,IT Services,Information Technology,Unknown / Non-Applicable

#### Cleanup Salary_Estimate data
- Drop the rows that do not have salary estimate
- Remove additional text attached to salary value

In [6]:
# Drop the rows that do not have salary estimate
ds_df = ds_df[ds_df['Salary_Estimate'] != '-1']
print(ds_df.shape)

(2317, 12)

In [7]:
ds_df['Salary_Estimate'] = ds_df['Salary_Estimate'].str.replace('Employer Provided Salary:\n', '')
#ds_df

In [8]:
# remove additional text
ds_df['Salary_Estimate'] = ds_df['Salary_Estimate'].apply(lambda x: x.split('\n')[0])
#ds_df['Salary_Estimate'] = ds_ds['Salary_Estimate'].str.split('\n',expand=True)[0]

In [9]:
ds_df[ds_df['Salary_Estimate'].str.contains("Per Hour")]

,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Size,Founded,Type_of_ownership,Industry,Sector,Revenue
39,Data Analyst,$24-$34 Per Hour,StarsHR has the following contract opportunity...,4.6,StarsHR\n4.6,"Tucson, AZ",1 to 50 Employees,2007,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
50,"Clinical Laboratory Scientist, Per Diem, Varia...",$38-$61 Per Hour,Adventist Health is more than an award-winning...,3.5,Adventist Health\n3.5,"Lancaster, CA",10000+ Employees,1973,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable
53,Medical Lab Scientist - MLS,$20-$28 Per Hour,We Are Hiring\n\nMedical Lab Scientist (MLS) -...,3.3,Ascension\n3.3,"Wichita, KS",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
56,Medical Technologist/Laboratory Scientist,$11-$21 Per Hour,We at Biomedical Laboratories are searching fo...,2.5,Biomedical Laboratories\n2.5,"Hubbard, OH",501 to 1000 Employees,1973,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Less than $1 million (USD)
57,MLS - Medical Lab Scientist,$20-$28 Per Hour,We Are Hiring\n\nMLS Medical Lab Scientist - G...,3.3,Ascension\n3.3,"Wichita, KS",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
66,MLS Medical Laboratory Scientist,$19-$26 Per Hour,We Are Hiring\n\nMLS Medical Laboratory Scient...,3.3,Ascension\n3.3,"Pittsburg, KS",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
69,MLS Medical Lab Scientist - Part Time Nights/E...,$19-$26 Per Hour,We Are Hiring\n\nMLS Medical Lab Scientist - G...,3.3,Ascension\n3.3,"Pittsburg, KS",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
70,MLS - Medical Lab Scientist - PRN,$20-$28 Per Hour,We Are Hiring\n\nMLS Medical Lab Scientist - G...,3.3,Ascension\n3.3,"Wichita, KS",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
73,Medical Lab Scientist- Freestanding ER,$20-$27 Per Hour,We Are Hiring\n\nMedical Lab Scientist (MLS) -...,3.3,Ascension\n3.3,"Pensacola, FL",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
75,Medical Lab Scientist-Freestanding ER-FT,$20-$27 Per Hour,We Are Hiring\n\nMedical Lab Scientist (MLS) -...,3.3,Ascension\n3.3,"Pensacola, FL",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
76,Medical Lab Scientist Freestanding ER- PRN,$20-$27 Per Hour,We Are Hiring\n\nMedical Lab Scientist (MLS) -...,3.3,Ascension\n3.3,"Pensacola, FL",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
77,Medical Lab Scientist-Freestanding ER- PT Days,$20-$27 Per Hour,We Are Hiring\n\nMedical Lab Scientist (MLS) -...,3.3,Ascension\n3.3,"Pensacola, FL",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
78,Medical Lab Scientist-Freestanding ER-FT Nights,$20-$27 Per Hour,We Are Hiring\n\nMedical Lab Scientist (MLS) -...,3.3,Ascension\n3.3,"Pensacola, FL",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
79,Medical Lab Scientist-Freestanding ER- PRN,$20-$27 Per Hour,We Are Hiring\n\nMedical Lab Scientist (MLS) -...,3.3,Ascension\n3.3,"Pensacola, FL",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
81,Clinical Scientist Communications Lead,$30-$53 Per Hour,ROLE SUMMARY\n\nThe primary purpose of the Cli...,4.1,Pfizer\n4.1,"Pearl River, NY",10000+ Employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
104,Senior Associate Scientist - Clinical & Diagno...,$30-$54 Per Hour,Why Patients Need You\n\n\nPfizer’s purpose is...,4.1,Pfizer\n4.1,"Pearl River, NY",10000+ Employees,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
138,Medical Laboratory Scientist/Med Lab Tech/Lab ...,$13-$27 Per Hour,"When you work at Children’s, you’re part of a ...",3.7,Children's Hospital & Medical Center - Omaha\n3.7,"Omaha, NE",1001 to 5000 Employees,1948,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable
246,"Associate Principal Scientist, Clinical Pharma...",$25-$46 Per Hour,Associate Principal ScientistClinical Pharmaco...,4.0,AstraZeneca\n4.0,"Gaithersburg, MD",10000+ Employees,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
280,Clinical Scientist,$28-$45 Per Hour,The Clinical Scientist is responsible for prov...,3.7,Edwards Lifesciences\n3.7,"Irvine, CA",10000+ Employees,1958,Company - Public,Health Care Products Manufacturing,Manufacturing,$2 to $5 billion (USD)
327,Clinical Laboratory Scientist (Future Opportun...,$23-$41 Per Hour,IQVIA™ is the leading human data science compa...,3.1,Q2 Solutions\n3.1,"Valencia, CA",1001 to 5000 Employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable
329,"Clinical Scientist/Senior Clinical Scientist, ...",$80-$131 Per Hour,The Position\n\n\nRoches Clinical Development ...,4.0,Genentech\n4.0,"South San Francisco, CA",10000+ Employees,1976,Subsidiary or Business Segment,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
386,Senior Clinical Scientist,$33-$57 Per Hour,This position will provide scientific leadersh...,2.8,"Immunomedics, Inc.\n2.8","Morris Plains, NJ",201 to 500 Employees,1982,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $5 million (USD)
391,Lead Certified Clinical Laboratory Scientist -...,$18-$34 Per Hour,The Lead Certified Clinical Laboratory Scienti...,4.1,Exact Sciences Corporation\n4.1,"Madison, WI",1001 to 5000 Employees,1995,Company - Public,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
456,Clinical Laboratory Scientist I - Saturday - M...,$13-$24 Per Hour,The Clinical Laboratory Scientist I performs l...,4.1,Exact Sciences Corporation\n4.1,"Madison, WI",1001 to 5000 Employees,1995,Company - Public,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
481,Lead Certified Clinical Laboratory Scientist -...,$18-$34 Per Hour,The Lead Certified Clinical Laboratory Scienti...,4.1,Exact Sciences Corporation\n4.1,"Madison, WI",1001 to 5000 Employees,1995,Company - Public,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
500,Lead Certified Clinical Laboratory Scientist -...,$18-$34 Per Hour,The Lead Certified Clinical Laboratory Scienti...,4.1,Exact Sciences Corporation\n4.1,"Madison, WI",1001 to 5000 Employees,1995,Company - Public,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
509,Medical Lab Scientist,$17-$24 Per Hour,Overview\n\nAbout\n\n\nTower Health is a stron...,3.2,Tower Health\n3.2,"West Reading, PA",5001 to 10000 Employees,2017,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable
525,Lead Certified Clinical Laboratory Scientist -...,$18-$34 Per Hour,The Lead Certified Clinical Laboratory Scienti...,4.1,Exact Sciences Corporation\n4.1,"Madison, WI",1001 to 5000 Employees,1995,Company - Public,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
526,Lead Certified Clinical Laboratory Scientist -...,$18-$34 Per Hour,The Lead Certified Clinical Laboratory Scienti...,4.1,Exact Sciences Corporation\n4.1,"Madison, WI",1001 to 5000 Employees,1995,Company - Public,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
527,Clinical Lab Scientist - Microbiologist (Full-...,$24-$38 Per Hour,Clinical Lab Scientist - Microbiologist (Full-...,2.3,Healdsburg District Hospital\n2.3,"Healdsburg, CA",201 to 500 Employees,1905,Hospital,Health Care Services & Hospitals,Health Care,$25 to $50 million (USD)
555,Clinical Laboratory Scientist,$24-$39 Per Hour,"To us, it’s about living life to the fullest w...",3.5,Vail Health\n3.5,"Vail, CO",501 to 1000 Employees,1966,Hospital,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
563,ENVIRONMENTAL ENGINEER/SCIENTIST,$25-$28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA",1 to 50 Employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Less than $1 million (USD)
624,Clinical Laboratory Scientist,$47-$71 Per Hour,City:\nGreenbrae\nState/Territory:\nCA\n\nABOU...,3.5,MarinHealth Medical Center\n3.5,"Greenbrae, CA",1001 to 5000 Employees,1952,Hospital,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
654,Bioinformatics Clinical Scientist,$20-$33 Per Hour,Make an immediate impact. We offer relocation ...,4.7,St. Jude Children's Research Hospital\n4.7,"Memphis, TN",1001 to 5000 Employees,1962,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD)
665,"Director, Oncology R&D, Clinical Scientist",$54-$92 Per Hour,Join a Legacy of Innovation 110 Years and Coun...,3.1,"Daiichi Sankyo, Inc.\n3.1","Basking Ridge, NJ",10000+ Employees,1899,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD)
690,Lead Medical Lab Scientist,$22-$31 Per Hour,We Are Hiring\n\nLead Medical Lab Scientist (M...,3.3,Ascension\n3.3,"Franklin, WI",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
799,Research Lab Specialist or Staff Scientist,$18-$37 Per Hour,With resources to help you succeed and develop...,4.7,St. Jude Children's Research Hospital\n4.7,"Memphis, TN",1001 to 5000 Employees,1962,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD)
816,Medical Lab Scientist - PRN,$21-$29 Per Hour,We Are Hiring\nLooking for a PRN Medical Lab S...,3.3,Ascension\n3.3,"Middleburg, FL",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
844,Medical Lab Scientist (MLS),$21-$29 Per Hour,We Are Hiring\n\nMedical Lab Scientist (MLS) -...,3.3,Ascension\n3.3,"Milwaukee, WI",10000+ Employees,1999,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD)
881,Medical Technologist (MT)/Medical Lab Scientis...,$10-$20 Per Hour,Work Shift: 10p-6:30a\n\nWork Week: M - F\n\nJ...,4.0,Houston Methodist\n4.0,"The Woodlands, TX",10000+ Employees,1919,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable
882,Postdoctoral Scientist - Gayther Lab - Center ...,$21-$30 Per Hour,The Center for Bioinformatics and Functional G...,3.9,Cedars-Sinai\n3.9,"Los Angeles, CA",10000+ Employees,1902,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
890,Physical Scientist/Evidence Analyst 2 #20-405,$25-$34 Per Hour,Salary:\nPublished Job Title:\nPhysical Scient...,2.9,Forfeiture Support Associates\n2.9,"Quantico, VA",1001 to 5000 Employees,2004,Company - Private,Staffing & Outsourcing,Business Services,$50 to $100 million (USD)
891,Physical Scientist/Evidence Analyst 2 #20-379,$22-$31 Per Hour,Salary:\nPublished Job Title:\nPhysical Scient...,2.9,Forfeiture Support Associates\n2.9,"Huntsville, AL",1001 to 5000 Employees,2004,Company - Private,Staffing & Outsourcing,Business Services,$50 to $100 million (USD)

In [10]:
ds_df['hourly'] = ds_df['Salary_Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [11]:
ds_df['Salary_Estimate'] = ds_df['Salary_Estimate'].str.replace('Per Hour', '').str.replace('K', "").str.replace('$', '')

In [12]:
ds_df['Salary_Estimate'] = ds_df['Salary_Estimate'].str.replace('K', "").str.replace('$', '')

In [13]:
ds_df['min_salary'] = ds_df['Salary_Estimate'].apply(lambda x: int(x.split('-')[0]))
ds_df['max_salary'] = ds_df['Salary_Estimate'].apply(lambda x: int(x.split('-')[1]))

In [14]:
# Hourly pay to annual conversion
ds_df['min_salary'] = ds_df.apply(lambda x: x.min_salary*2 if x.hourly ==1 else x.min_salary, axis =1)
ds_df['max_salary'] = ds_df.apply(lambda x: x.max_salary*2 if x.hourly ==1 else x.max_salary, axis =1)

In [15]:
ds_df['avg_salary'] = (ds_df.min_salary + ds_df.max_salary)/2

In [16]:
ds_df['Company_Name'] = ds_df['Company_Name'].apply(lambda x: x.split('\n')[0])

In [17]:
ds_df[~ds_df["Location"].str.contains(",")]

,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Size,Founded,Type_of_ownership,Industry,Sector,Revenue,hourly,min_salary,max_salary,avg_salary
6,Senior Azure Data Engineer - Minneapolis,90-165,Data & Analytics Professional: Transform Infor...,4.3,Magenic,St Louis Park,501 to 1000 Employees,1995,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),0,90,165,127.5

In [18]:
ds_df.loc[ds_df['Job_Title'] == 'Senior Azure Data Engineer - Minneapolis', 'Location'] = 'St Louis Park, MN'
ds_df[ds_df["Location"].str.contains("St Louis Park")]

,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Size,Founded,Type_of_ownership,Industry,Sector,Revenue,hourly,min_salary,max_salary,avg_salary
6,Senior Azure Data Engineer - Minneapolis,90-165,Data & Analytics Professional: Transform Infor...,4.3,Magenic,"St Louis Park, MN",501 to 1000 Employees,1995,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),0,90,165,127.5

In [19]:
ds_df['City'] = ds_df['Location'].apply(lambda x: x.split(',')[0])
ds_df['State'] = ds_df['Location'].apply(lambda x: x.split(',')[1])

In [20]:
ds_df['Years_Old'] = ds_df.Founded.apply(lambda x: x if x < 0 else 2020 - x)

In [21]:
ds_df['Job_Title']=ds_df['Job_Title'].str.replace('\W', ' ')
ds_df['Job_Title']=[x.upper() for x in ds_df['Job_Title']]
ds_df.loc[ds_df.Job_Title.str.contains("SCIENTIST"), 'Job_Title'] = 'Data Scientist'
ds_df.loc[ds_df.Job_Title.str.contains('DATA SCIENCE'),'Job_Title']='Data Scientist'

ds_df.loc[ds_df.Job_Title.str.contains('MACHINE LEARNING'),'Job_Title']='Machine Learning Engineer'

ds_df.loc[ds_df.Job_Title.str.contains('ANALYST'), 'Job_Title'] = 'Data Analyst'
ds_df.loc[ds_df.Job_Title.str.contains('STATISTICIAN'), 'Job_Title'] = 'Data Analyst'
ds_df.loc[ds_df.Job_Title.str.contains('ANALYTICS'), 'Job_Title'] = 'Data Analyst'

ds_df.loc[ds_df.Job_Title.str.contains('DATA ENGINEER'), 'Job_Title'] = 'Data Engineer'

ds_df.loc[ds_df.Job_Title.str.contains('MANAGER'),'Job_Title']='Data Science Manager'
ds_df.loc[ds_df.Job_Title.str.contains('CONSULTANT'),'Job_Title']='Data Science Manager'
ds_df.loc[ds_df.Job_Title.str.contains('DIRECTOR'),'Job_Title']='Data Science Manager'
ds_df.loc[ds_df.Job_Title.str.contains('PRINCIPAL'), 'Job_Title']='Data Science Manager'

ds_df.Job_Title=ds_df[(ds_df.Job_Title == 'Data Scientist') | 
                      (ds_df.Job_Title == 'Data Analyst') | 
                      (ds_df.Job_Title == 'Machine Learning Engineer') | 
                      (ds_df.Job_Title == 'Data Science Manager') |
                      (ds_df.Job_Title == 'Data Engineer')]
ds_df.Job_Title=['Others' if x is np.nan else x for x in ds_df.Job_Title]
ds_df.head()

,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Size,Founded,Type_of_ownership,Industry,Sector,Revenue,hourly,min_salary,max_salary,avg_salary,City,State,Years_Old
0,Data Scientist,108-170,Earnest empowers people with the financial cap...,3.8,Earnest,"San Francisco, CA",51 to 200 Employees,2013,Subsidiary or Business Segment,Lending,Finance,Unknown / Non-Applicable,0,108,170,139.0,San Francisco,CA,7
1,Data Scientist,80-129,Great outcomes are the result of strong purpos...,3.4,Unitedhealth Group,"Eden Prairie, MN",10000+ Employees,1977,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD),0,80,129,104.5,Eden Prairie,MN,43
2,Data Analyst,43-77,"Blue Federal Credit Union employees work hard,...",4.1,Blue Federal Credit Union,"Cheyenne, WY",201 to 500 Employees,-1,Other Organization,Banks & Credit Unions,Finance,Unknown / Non-Applicable,0,43,77,60.0,Cheyenne,WY,-1
4,Data Scientist,12-112,"Looking for your next opportunity? If so, choo...",4.4,Parkland Center for Clinical Innovation,"Dallas, TX",1 to 50 Employees,2012,Nonprofit Organization,IT Services,Information Technology,Unknown / Non-Applicable,0,12,112,62.0,Dallas,TX,8
6,Data Engineer,90-165,Data & Analytics Professional: Transform Infor...,4.3,Magenic,"St Louis Park, MN",501 to 1000 Employees,1995,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),0,90,165,127.5,St Louis Park,MN,25

In [22]:
ds_df['Job_Title'].value_counts()

Data Scientist               1451
Data Analyst                  338
Data Engineer                 277
Others                        232
Machine Learning Engineer      12
Data Science Manager            7
Name: Job_Title, dtype: int64

#### Job Description Analysis

In [23]:
print(ds_df['Job_Description'][0])

Earnest empowers people with the financial capital they need to live better lives.

We're an accomplished team of technology, finance, and design geeks who believe consumer lending can be radically improved and are doing something about it. We are disrupting the trillion dollar student loan industry by redefining what it means to be creditworthy. We created a company that combines data science, streamlined design, and technology to:
Build products that simplify the lending process.
Personalize loans to suit the needs of our customers.
Engage with our customers through more human experiences.
Our culture is one that values transparency and blameless problem solving. Earnest has a strong track record of employee growth and career progression. Earnies are empathetic, product-focused, proactive, and curious.

As the Senior Data Scientist, you will report to the Head of Analytics and:
Prototype machine learning models that encapsulate best practices around feature engineering, model selection, and model validation.
Write code in common machine learning frameworks (Scikit-learn, Tensorflow, Pytorch).
Write ETL pipelines that would transform Earnest data into consumable insights and intelligence.
Present impact of models and analyses to executive stakeholders.
Improve existing models by identifying defects and proposing changes to model methodologies.
Ideal background and expertise:
5+ years developing traditional data science models
2+ years experience building production-ready machine learning models and systems
3+ years in Python and SQL
Master's degree in Computer Science, Statistics, Engineering, or a related field
Earnest Perks & Benefits:
Health, Dental, & Vision benefits plus savings plans
Employee Stock Purchase Plan
401(k) plan to help you save for retirement plus a company match
Tuition reimbursement program
$1000 flight on each Earnie-versary to anywhere in the world and 25 days of annual PTO
Great culture with an awesome team
Earnest provides equal employment opportunities (EEO) to all employees and applicants for employment without regard to race, color, religion, sex, national origin, age, disability or genetics. Qualified applicants with criminal histories will be considered for the position in a manner consistent with the Fair Chance Ordinance.

#LI-ES1

In [24]:
# Combine the desciptions by the job tilte
data=ds_df.copy()
data = data.groupby('Job_Title').agg(lambda col: ' '.join(col))
data = data[['Job_Description']]

In [25]:
# Create a function to clean text data
def clean_text(text):
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text).lower() #remove punctutations
    text = re.sub('\w*\d\w*', '', text) # removes words that contain numbers in between them 
    text = re.sub('[‘’“”…]', '', text) # removes the special characters mentioned within the brackets
    text = re.sub('\n',' ',text) # replaces \n with a space
    return text

In [26]:
# Clean the text data and remove the job title 'Others'
clean = lambda x :clean_text(x)
df_clean = pd.DataFrame(data.Job_Description.apply(clean))
df_clean = df_clean[df_clean.index != 'Others'].copy()

In [27]:
# Lemmentize the text data to improve analysis
lemmer = WordNetLemmatizer()
df_clean['Job_Description'] = df_clean.Job_Description.apply(lambda x: word_tokenize(x))
df_clean['Job_Description'] = df_clean.Job_Description.apply(lambda x : [lemmer.lemmatize(y) for y in x])
df_clean['Job_Description'] = df_clean.Job_Description.apply(lambda x: ' '.join(x))

In [28]:
# Add words that frequently appear in the descriptions but carry no value to the list of stop words

extra_stopword = ['data','experience','work','team','will','skill','year','skills']
stop_words = text.ENGLISH_STOP_WORDS.union(extra_stopword)

In [29]:
df_clean.head()

                                                             Job_Description
Job_Title
Data Analyst               blue federal credit union employee work hard h...
Data Engineer              data analytics professional transform informat...
Data Science Manager       who we are the analytic data and machine learn...
Data Scientist             earnest empowers people with the financial cap...
Machine Learning Engineer  position purpose this position is responsible ...

In [43]:
df_clean

                                                             Job_Description
Job_Title
Data Analyst               blue federal credit union employee work hard h...
Data Engineer              data analytics professional transform informat...
Data Science Manager       who we are the analytic data and machine learn...
Data Scientist             earnest empowers people with the financial cap...
Machine Learning Engineer  position purpose this position is responsible ...

#### Years of experience

In [30]:
text = ds_df.Job_Description.values
text

array(["Earnest empowers people with the financial capital they need to live better lives.\n\nWe're an accomplished team of technology, finance, and design geeks who believe consumer lending can be radically improved and are doing something about it. We are disrupting the trillion dollar student loan industry by redefining what it means to be creditworthy. We created a company that combines data science, streamlined design, and technology to:\nBuild products that simplify the lending process.\nPersonalize loans to suit the needs of our customers.\nEngage with our customers through more human experiences.\nOur culture is one that values transparency and blameless problem solving. Earnest has a strong track record of employee growth and career progression. Earnies are empathetic, product-focused, proactive, and curious.\n\nAs the Senior Data Scientist, you will report to the Head of Analytics and:\nPrototype machine learning models that encapsulate best practices around feature engineering, model selection, and model validation.\nWrite code in common machine learning frameworks (Scikit-learn, Tensorflow, Pytorch).\nWrite ETL pipelines that would transform Earnest data into consumable insights and intelligence.\nPresent impact of models and analyses to executive stakeholders.\nImprove existing models by identifying defects and proposing changes to model methodologies.\nIdeal background and expertise:\n5+ years developing traditional data science models\n2+ years experience building production-ready machine learning models and systems\n3+ years in Python and SQL\nMaster's degree in Computer Science, Statistics, Engineering, or a related field\nEarnest Perks & Benefits:\nHealth, Dental, & Vision benefits plus savings plans\nEmployee Stock Purchase Plan\n401(k) plan to help you save for retirement plus a company match\nTuition reimbursement program\n$1000 flight on each Earnie-versary to anywhere in the world and 25 days of annual PTO\nGreat culture with an awesome team\nEarnest provides equal employment opportunities (EEO) to all employees and applicants for employment without regard to race, color, religion, sex, national origin, age, disability or genetics. Qualified applicants with criminal histories will be considered for the position in a manner consistent with the Fair Chance Ordinance.\n\n#LI-ES1",
       "Great outcomes are the result of strong purpose, conviction and pride - pride in your ability and your product. UnitedHealth Group offers a portfolio of products that are greatly improving the life of others. Bring along your passion and do your life's best work.(sm)\n\nOptum is the industry leader delivering health services dedicated to one goal: making the health system work better for everyone. For those who need care, provide care and pay for care, we deliver integrated, intelligent solutions designed to modernize the health system and improve the health of individuals and populations. We are investing significantly in new capabilities to design, develop and deliver better solutions for these constituents.\n\nThe Data Science Transformation team seeks a Senior Data Scientist to join our team. You should be an exceptional disciplined and self-motivated data scientist with substantial machine learning experience and a passion for working with healthcare data (relevant experience with data from other industries is of interest as well, e.g. financial, retail, telco, etc.), experience using various computational approaches, and a portfolio of projects you can show and talk about.\n\nYou should be a creative thinker in how to solve problems, utilizing machine learning methods, deep understanding and curiosity about data, and business understanding to devise appropriate analytic solutions. Youll work within Optums unparalleled data assets and big data infrastructure to develop innovative machine learning capabilities.\n\nYoull enjoy the flexibility to telecommute* from anywhere within the U.S. as you take on some tough challenges.\n\nPrimary Responsibilities:\nWork alongside other data scientists, engineers, and project managers to design and implement models and experiments from end to end, including data ingestion and preparation, feature engineering, analysis and modeling, model deployment, performance tracking and documentation\nImprove and extend the analytic methods in our products\nConduct hands-on data analysis and predictive analytics on large datasets\nEffectively communicate complex technical results to business partners\nSupport and drive analytic efforts around machine learning and innovation\nWork with a great deal of autonomy to find solutions to complex problems\nCoach and mentor junior data scientists\nYoull be rewarded and recognized for your performance in an environment that will challenge you and give you clear direction on what it takes to succeed in your role as well as provide development for other roles you may be interested in.\n\nRequired Qualifications:\nBachelors Degree or higher in Applied Mathematics, Physics, Computer Science, Statistics or related technical field\n4+ years of hands-on experience in in developing with machine learning, deep learning and/or NLP with Machine Learning (4+ years can be a combination of business/corporate experience and academic, but your academic projects need to be clearly defined)\nStrong proficiency in advanced data science tools such as Python, Spark, SQL\nExperience with wrangling large datasets with big data tools such as Hadoop, Hive and Spark\nExperience applying computational algorithms and statistical methods to structured and unstructured data\nExperience combining analytic methods with advanced data visualizations using, for example, Tableau, Shiny or D3\nExperience breaking down and clearly defining problems\nExperience communicating highly technical results to a diverse audience\nExperience deploying machine learning models into production\nComfort working as part of a team, as opposed to solo projects\nTelecommute is available for the right candidate\nCareers with Optum. Here's the idea. We built an entire organization around one giant objective; make health care work better for everyone. So when it comes to how we use the world's large accumulation of health-related information, or guide health and lifestyle choices or manage pharmacy benefits for millions, our first goal is to leap beyond the status quo and uncover new ways to serve. Optum, part of the UnitedHealth Group family of businesses, brings together some of the greatest minds and most advanced ideas on where health care has to go in order to reach its fullest potential. For you, that means working on high performance teams against sophisticated challenges that matter. Optum, incredible ideas in one incredible company and a singular opportunity to do your life's best work.(sm)\n\n*All Telecommuters will be required to adhere to UnitedHealth Groups Telecommuter Policy\n\nDiversity creates a healthier atmosphere: UnitedHealth Group is an Equal Employment Opportunity/Affirmative Action employer and all qualified applicants will receive consideration for employment without regard to race, color, religion, sex, age, national origin, protected veteran status, disability status, sexual orientation, gender identity or expression, marital status, genetic information, or any other characteristic protected by law.\n\nUnitedHealth Group is a drug-free workplace. Candidates are required to pass a drug test before beginning employment.\n\nJob Keywords: Data Scientist, Healthcare, UnitedHealth Group, Boston, MA, Massachusetts, Eden Prairie, MN, Minnesota, Telecommute, Remote, Work from home",
       'Blue Federal Credit Union employees work hard, have fun, and win for our members and each other! Our Member Data Analyst performs quantitative and qualitative research using statistics to analyze programs, products and services offered, market potential, competitive intelligence and industry standards to recommend and guide market efforts. Recommends marketing activity based on research and technical analysis. Independently drives data analysis and develops insights for use by management.\nDirects central market research function, anticipates and evaluates useful market information, establishes standards for research methodology, and identifies opportunities to expand the scope of business.\nIdentifies, analyzes and interprets trends and patterns in complex data sets to develop recommendations to be used in promoting the organization and improving positioning, image and support within the target market.\nMaintain appropriate databases and data systems for the department. Implements data collection systems and updates. Acquires and abstracts primary and secondary data from existing internal or external data sources.\nDevelops graphs, reports and presentations. Performs statistical analysis upon request. Creates and presents quality dashboards. 3-4 bullets on education and experience\nAssists in development and production of direct marketing initiatives through analysis of target market universe, list development, design and production.\nMust comply with applicable laws and regulations, including but not limited to, the Bank Secrecy Act, the Patriot Act, and the Office of Foreign Assets Control.\nExperience: Three years to five years of similar or related experience, including preparatory experience.\n\nEducation/Certifications/Licenses: A college degree.\n\nInterpersonal Skills: A significant level of trust, credibility and diplomacy is required. In-depth dialogues, conversations and explanations with customers, direct and indirect reports and outside vendors can be of a sensitive and/or highly confidential nature. Communications may involve motivating, influencing, educating and/or advising others on matters of significance.\n\nOther Skills: Strong analytical spreadsheet and communication skills, demonstrated ability to handle multiple project simultaneously, new product development, packaging design, competitive analysis, consumer promotion, advertising media and copy, scan data analysis. Familiarity with MCIF systems, CD-ROM directories and market data on disc, survey research and statistical analysis software, mapping software, market research directories and online data services.',
       ...,
       "Are you passionate about influencing the scientific direction of research teams?\n\nDo you like contributing to creative solutions in a collaborative environment?\n\nWould you love to work with a group of dedicated technical specialists on projects that are necessary to maintaining our national security?\n\nIf so, we're looking for someone like you to join our team at APL!\n\nThe Multifunctional Materials and Nanostructures Group is seeking a materials scientist / engineer with hands-on experience with synthesis, processing, and characterization of ceramic materials for use in extreme environments. You will support ceramics research efforts through formulation development and materials fabrication, and execution of test procedures and data analysis for the advancement of high-temperature materials for extreme environments (e.g., hypersonic flight, combustors, space exploration, etc.). You will also support the strategy for our team, whose efforts are applied to solving the Government's critical materials challenges.\n\nYou will be joining a hardworking team of scientists and engineers with a broad range of proficiencies that is committed to developing advanced prototypes. Our team is passionate about changing what is possible in these extreme environments. We strive to foster a collaborative environment with world-class expertise that achieves game-changing impact. Our APL team values integrity and innovative ideas that will ensure our nations preeminence in the 21st century.\n\nAs a Ceramic Materials Scientist / Engineer, your primary responsibilities will be to\n\n•Carry out materials research and development in support of customers evolving requirements including formulating and synthesizing ceramic materials, designing experiments, and characterizing properties of materials and systems.\n\n•Analyze data and interpret results, including automating routine data analysis calculations.\n\n•Document technical work in detail and present to internal and external stakeholders. Contribute to white papers, proposals, and sponsor briefings.\n\nYou meet our minimum qualifications for the position if you\n\n•Possess a BS or MS in Materials Science & Engineering, Ceramics, Mechanical Engineering, Aerospace Engineering, Chemistry, or related field.\n\n•Have the ability to work independently, exercising good technical judgment to solve problems.\n\n•Have a strong record of successful teamwork.\n\n•Have excellent oral and written communication skills.\n\n•Are willing and able to perform work in a laboratory setting, and travel for testing, sponsor visits, conference attendance, and presentations.\n\n•Are able to obtain an Interim Secret level security clearance by your start date, and can ultimately obtain a Top Secret level clearance. If selected, you will be subject to a government security clearance investigation and must meet the requirements for access to classified information. Eligibility requirements include U.S. citizenship.\n\nYou'll go above and beyond our minimum requirements if you...\n\n•Have 3 years of experience with ceramic materials synthesis, processing, and/or characterization.\n\n•Have laboratory experience with optical (IR and RF) materials design, instrumentation, characterization, and analysis.\n\n•Have demonstrated proficiency in data analysis and automation techniques using Matlab, LabVIEW, or similar.\n\n•Have experience with thermal protection systems, refractory materials, or aperture development.\n\nWhy Work at APL?\n\nThe Johns Hopkins University Applied Physics Laboratory (APL) brings world-class expertise to our nations most critical defense, security, space and science challenges. While we are dedicated to solving complex challenges and pioneering new technologies, what makes us truly outstanding is our culture. We offer a vibrant, welcoming atmosphere where you can bring your authentic self to work, continue to grow, and build strong connections with inspiring teammates.\n\nAt APL, we celebrate our differences and encourage creativity and bold, new ideas. Our employees enjoy generous benefits, including a robust education assistance program, unparalleled retirement contributions, and a healthy work/life balance. APLs campus is located in the Baltimore-Washington metro area. Learn more about our career opportunities atwww.jhuapl.edu/careers.\n\n#LI-BG1 #APL-SR1 #23842",
       "Clearance REQUIRED: MUST have DoD Fully Adjudicated Secret Security Clearance (Candidates without DoD clearance or interim clearance will not be reviewed)\nContracting Resources Group, Inc. (CRG) is a Woman-Owned, small business foundedin 2002. CRG is a leading management consulting firm specializing in severalcore markets within the Federal Government. Our professional service depthincludes program management, program evaluation and training, acquisitionmanagement support, communications, and IT solutions. Since 2002, CRG has consistently received top performance ratings from customers and our teaming partners and most recently was included in Inc. Magazine's 5000 list of thefastest-growing companies in America for 2016, 2017, & 2018. CRG is alsorecognized as one of Washington DC Best Places to work by the WashingtonBusiness Journal.\nCRG is seeking a Data Analyst to support the Financial Crimes Enforcement Network (FinCEN) within the Department of Treasury. The candidate will be responsible for processing various intelligence information and tracking correspondence with FinCEN databases. Manages and categorizes sensitive correspondence and reports from various enforcement agencies and international governments in databases and spreadsheets.\nQualifications:\nExperience in varied data management approaches\nKnowledge and experience in protecting sensitive data\nExcellent oral, written, and computer skills are required\nAnalytical and problem solving skills with attention to detail\nPossess strong initiative and interpersonal skills to interact with a wide range of government and contract staff including executive level government officials with minimal direct supervision\nKnowledge of Bank Secrecy Act data is a plus\nExcellent organizational skills to balance and prioritize work\nProficient in Microsoft Suite (Word, Excel, PowerPoint)",
       "We Breathe Life Into Data\n\nAt Komodo Health, our mission is to reduce the global burden of disease. Smarter use of data is essential to this mission. We combine the world's most comprehensive view of patient encounters with innovative algorithms and decades of clinical expertise to power our Healthcare Map, the industry's most precise view of the U.S. healthcare system. With the Healthcare Map as our foundation, we offer a suite of powerful software applications that deliver exceptional value to the industry.\n\nOur people are the center of our success. We are a smart, supportive team with diverse perspectives and a shared passion for fixing what's broken in healthcare. It's fun, challenging and important. Join us!\n\nThe Opportunity at Komodo Health\n\nOur Life Sciences Services group is looking for a Data Scientist to help build analytics pipelines and complex logic for complicated data projects that solve tangible customer use cases. Our team's mission is to support Life Science customers and products through custom applications of our healthcare map along with actionable insights, that enable Komodo to meet our business goals.\n\nLooking back on your first 12 months at Komodo Health, you will have\nDelivered high-value data analytics projects that existing data products cannot cover.\nWorked with Product to help prototype new analytics offerings\nEffectively partnered with customer-facing teams to reconcile client requirements with the capabilities of datasets available at KH.\nIncorporated a good understanding of the healthcare datasets at Komodo and client use-cases to effectively partner with data engineering teams for architectural decisions.\nCreated a plan with the team to scale our solutions, automate code and centralize complex logic. Advocate for good practices within the team.\nPresented findings, insights and analytical results to internal partners for client deliveries, as well as the larger DS function for continued growth and learning\nWhat you bring to Komodo:\nKeen analytical skills\nStrong SQL or Python skills\nThe willingness to learn and teach\nThe ability to balance individual work with working with teams in a startup environment\nGood understanding of how analytics insights tie into business goals\nHigh motivation, work ethic, and self-discipline to organize and complete tasks\nCuriosity piqued? Learn more about us!\nCholangiocarcinoma Foundation & Komodo Health partner to fight cancer\nKomodo Health's 'Meet a Dragon' series\nKomodo Health's $50M Series C funding led by Andreessen Horowitz, Joined by Oak HC/FT\nKomodo's Values that Drive our Culture\nIn Conversation with Dr. Arif Nathoo, Komodo Health's CEO\nAt Komodo Health, we don't just accept differences we celebrate it, we support it, and we thrive on it for the benefit of our employees, our products, and our community. Komodo Health is proud to be an equal opportunity workplace."],
      dtype=object)

In [31]:
# Print out the first 5 examples of matches
limit = 0
for t in text:
    for sentence in t.split('\n'):
        if 'experience' in sentence:
            year = re.findall("\d{1,2}\+? year", sentence) # find all digits repeated once or twice followed by optional +
            if len(year)==1:
                print(year[0])
                print(sentence)
                print("*"*123)
                limit +=1
    if limit >= 5:
        break

2+ year
2+ years experience building production-ready machine learning models and systems
***************************************************************************************************************************
2+ year
2+ years of experience implementing Azure Data Solutions for high-availability, disaster recovery and global distribution
***************************************************************************************************************************
10 year
· 3 - 10 years of related experience
***************************************************************************************************************************
10+ year
· 10+ years of related experience
***************************************************************************************************************************
3+ year
3+ years' experience in data analysis and visualization
***************************************************************************************************************************

In [32]:
# Compile the year value found into a list
experience_req = []
for t in text:
    for sentence in t.split('\n'):
        if 'experience' in sentence:
            year = re.findall("\d{1,2}\+? year", sentence)
            if len(year)==1:
                num = year[0].split(' ')
                experience_req.append(num[0])

# Remove the '+' sign after year value
for n,i in enumerate(experience_req):
    if "+" in i:
        experience_req[n] = re.sub(r'\+','',i)
experience_req = [int(item) for item in experience_req]

# Remove outliers
for n,i in enumerate(experience_req):
    if i >= 20:
        experience_req.pop(n)

In [42]:
df_clean.shape

(5, 1)

#### Skill requirement

In [ ]:
# Create a regex search function
def count_text(patt,text):
    pattern = re.compile(patt)
    count = 0
    for t in text:
        if pattern.search(t):
            count+=1
    return count

In [ ]:
# Create a data frame with skills name and regex pattern to search with
skills = ['R','Python','Hadoop','SQL','Tableau','NoSQL','Power BI','SAS','Hive','Spark', \
          'Java','JavaScript']

skill_patt = ['\WR\W+\s*','(?i)\WPython\W','(?i)\WHadoop\W?','(?i)SQL\w*','(?i)\WTableau\W?',
              "(?i)\WNoSQL\W?","(?i)\WPower\s?BI\W?",
             "(?i)\WSAS\W?","(?i)\WHive\W?","(?i)\WSpark?\W?",'(?i)Java\w*','(?i)\WJavaScript\W?']

skill_df =pd.DataFrame(
    {"skill": skills,
     "regex_pattern":skill_patt})

In [ ]:
# Iterate through the list of skill using the search function created
i = []
for x in skill_df['regex_pattern']:
    i.append(count_text(x,text))
skill_df['count'] = i
skill_df['pct'] = round(skill_df['count']/len(text),2)
skill_df

#### Educaton requirement

In [ ]:
# Define regex pattern and seach for PhD
pattern = re.compile('(?i)\WPh.?D\W')
pattern2 = re.compile('(?i)\WDoctorate\W')
count = 0
for t in text:
    if pattern.search(t):
        count +=1
    elif pattern2.search(t):
        count +=1
degree = {"PhD": count}

In [ ]:
# Define regex pattern and seach for Master 
pattern = re.compile("(?i)\WMasters?'?s?\W")
pattern2 = re.compile('(?i)\WM.?S\W')
count = 0
for t in text:
    if pattern.search(t):
        count +=1
    elif pattern2.search(t):
        count +=1
degree.update({"Masters":count})

In [ ]:
# Define regex pattern and seach for Master 
pattern = re.compile("(?i)\WBachelors?'?s?\W")
pattern2 = re.compile('(?i)\WBachelor.?S\W')
count = 0
for t in text:
    if pattern.search(t):
        count +=1
    elif pattern2.search(t):
        count +=1
degree.update({"Bachelors Degree":count})

In [ ]:
degree = pd.DataFrame.from_dict(degree,orient='index',
                       columns=[ 'count'])
degree['pct'] = degree['count']/len(text)

In [39]:
s = "string. With. Punctuation?" # Sample string 
out = re.sub('[%s]' % re.escape(string.punctuation), '', s)
out

'string With Punctuation'

In [ ]:
data = ds_df.copy()
data['Job_Title']=[x.upper() for x in data['Job_Title']]
data.loc[data.Job_Title.str.contains("SCIENTIST"), 'Job_Title'] = 'Data Scientist'

data.loc[data.Job_Title.str.contains('ENGINEER'),'Job_Title']='Machine Learning Engineer'
data.loc[data.Job_Title.str.contains('PRINCIPAL STATISTICAL PROGRAMMER'),'Job_Title']='Machine Learning Engineer'
data.loc[data.Job_Title.str.contains('PROGRAMMER'),'Job_Title']='Machine Learning Engineer'
data.loc[data.Job_Title.str.contains('DEVELOPER'),'Job_Title']='Machine Learning Engineer'

data.loc[data.Job_Title.str.contains('ANALYST'), 'Job_Title'] = 'Data Analyst'
data.loc[data.Job_Title.str.contains('STATISTICIAN'), 'Job_Title'] = 'Data Analyst'

data.loc[data.Job_Title.str.contains('MANAGER'),'Job_Title']='Data Science Manager'
data.loc[data.Job_Title.str.contains('CONSULTANT'),'Job_Title']='Data Science Manager'
data.loc[data.Job_Title.str.contains('DATA SCIENCE'),'Job_Title']='Data Science Manager'
data.loc[data.Job_Title.str.contains('DIRECTOR'),'Job_Title']='Data Science Manager'

data.Job_Title=data[(data.Job_Title == 'Data Scientist') | (data.Job_Title == 'Data Analyst') | (data.Job_Title == 'Machine Learning Engineer') | (data.Job_Title == 'Data Science Manager') ]
data.Job_Title=['Others' if x is np.nan else x for x in data.Job_Title]
data.head()

In [ ]:
title = data.groupby(['Job_Title']).count().sort_values('Company_Name')

title['Company_Name'].plot(kind='barh',figsize = (10,5))
plt.xlabel('Count', size = 12)
plt.ylabel('')
plt.yticks(size = 10)
plt.xticks(size = 10)
plt.title('Number of Positions by Job Title', size = 20)
plt.show()

In [ ]:
company = ds_df.groupby(['Company_Name']).count().sort_values('Job_Title').tail(20)

company['Job_Title'].plot(kind='barh',figsize = (10,5))
plt.xlabel('Count', size = 12)
plt.ylabel('')
plt.yticks(size = 10)
plt.xticks(size = 10)
plt.title('Number of Positions by Companies (Top 20)', size = 20)
plt.show()

In [ ]:
city = ds_df.groupby(['Location']).count().sort_values('Job_Title').tail(20)

city['Job_Title'].plot(kind='barh',figsize = (10,5))
plt.xlabel('Count', size = 12)
plt.ylabel('')
plt.yticks(size = 10)
plt.xticks(size = 10)
plt.title('Number of Positions by Cities (Top 20)', size = 20)
plt.show()

In [ ]:
state = ds_df.groupby('State').count().sort_values('Job_Title',ascending = False)

state['Job_Title'].plot(kind = 'bar',figsize = (10,5) ,width = 0.85)
plt.xlabel('')
plt.ylabel('Count',size = 12)
plt.title('Number of Positions by State', size = 20)
plt.yticks(size = 10)
plt.xticks(size = 10, rotation = 720)
plt.show()

In [ ]:
data = data[data['Job_Title'] != 'Others']
i = 1
color = ['#A92420','#8A6FDF','#135390','#FDA649']
fig = plt.figure(figsize=(20,10))
for title in data.Job_Title.unique():
    x = data[data['Job_Title']== str(title)].groupby(['State']).count().sort_values('Company_Name')
    plt.subplot(2, 2, i)
    i += 1
    plt.bar(x.index,x['Company_Name'], color = color[i-2])
    plt.xlabel('')
    plt.xticks(size = 10)
    plt.title(str(title), size = 15)
plt.show()

#### number of years exerience plot

In [ ]:
plt.figure(figsize = (10,5))
plt.hist(experience_req,bins = list(range(0,21,2)), align = 'left')
plt.title('Experience Required Distribution', size = 15)
plt.ylabel('Bin Count')
plt.xlabel('Year of Expereience', size = 12)
plt.show()
print(f'The average year of experience required is {round(np.mean(experience_req),2)} years')

#### Skills plot

In [ ]:
x = skill_df.sort_values(by = 'pct')
ax =x['pct'].plot(kind = "barh",figsize = (10,5))
ax.set_title('Skills as Percentage of Total Job Description', size = 15)
ax.set_yticklabels(x['skill'], size = 12)
ax.set_xticklabels(['{:.0%}'.format(x) for x in ax.get_xticks()])
plt.show()

#### Education qualification plot

In [ ]:
ax =degree['pct'].plot(kind = "bar", figsize =(10,5))
ax.set_title('Percentage of Total Documents')
ax.set_xticklabels(degree.index)
ax.set_yticklabels(['{:.0%}'.format(x) for x in ax.get_yticks()])
plt.show()